body{
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px;
    line-height: 29px;
    font-weight: 500;
    color: #999;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}

html {
    font-family: 'Raleway', sans-serif!important;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* Link style
/* ------------------------------ */
a {
    color: #ed145b;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #03a9f4;
    outline: none;
    text-decoration: none;
}


/* Transition elements
/* ------------------------------ */
a,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* ================ Typography ================== */

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif!important;
    font-weight: 400;
    color: #202020;
    margin: 0 0 15px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

p img {
    margin: 0;
}

p {
    margin: 0 0 30px;
    line-height: 30px;
}

hr {
    margin: 0;
}

/* Material Button Style
/* ------------------------------ */
.btn {
    height: 50px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 2px;
    background-color: #03a9f4; /*brand primary color*/
    border: 0;
}

.btn-lg {
    padding: 12px 38px;
}

/*button size in extra small devices*/
@media screen and (max-width: 767px) {
    .btn-lg {
        height: auto;
        font-size: 14px;
        padding: 8px 25px;
    }
}

.btn:hover{
    background-color: #03a9f4;
}

.btn.active,
.btn:active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


.btn i.material-icons {
    font-size: 20px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}
.btn:focus,
button:focus {
    outline: none !important;
}


@media (min-width: 992px) {
    #contactForm .submit-button {
        float: right;
    }
}



/* Customize Material Form style
/* ------------------------------------ */
.form-control {
    border-radius: 0;
}
.input-field {
    margin-top: 45px;
}
.input-field label {
    color: #999;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}
.input-field label.active {
    font-size: 12px;
}




/* ================= Alert Style ==================== */
.alert {
    padding: 12px 15px;
    border-radius: 2px !important;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.alert i {
    font-size: 25px;
    margin-right: 10px;
    float: left;
}

.info-border {
    /*border-color: #31708f;*/
    color: #31708f;
    background-color: #d9edf7;
}

.success-border {
    /*border-color: #00c03b;*/
    color: #00c03b;
    background-color: #effdda;
}

.warning-border {
    /*border-color: #ff9c00;*/
    color: #ff9c00;
    background-color: #fff8ca;
}

.danger-border {
    /*border-color: #ff0000;*/
    color: #ff0000;
    background-color: #fff3f3;
}



/* ================= Global Classes ==================== */
.section-padding {
    padding: 110px 0;
}

/*margin top*/
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}


/*margin bottom*/
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}



/*pre defined font-weight classes*/
.text-light {
    font-weight: 300 !important;
}
.text-medium {
    font-weight: 500 !important;
}
.text-bold {
    font-weight: 700 !important;
}
.text-extrabold {
    font-weight: 900 !important;
}




/* ================= Color Presets ==================== */
.brand-color {
    color: #03a9f4 !important;
}
.brand-bg {
    background-color: #03a9f4 !important;
}
.brand-bg.darken-2 {
    background-color: #0288d1 !important;
}




/*Verticle Aligne Middle for equel height*/
.valign-wrapper {
    display: table;
    width: 100%;
}
.valign-cell {
    display: table-cell;
    vertical-align: middle;
}



/* ================= Hero Unit ==================== */
.intro-title {
    font-size: 60px;
    font-weight: 900;
}
.sub-intro {
    display: block;
    margin: 0 auto 30px;
}
@media (min-width: 768px){
    .sub-intro {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .intro-title {
        font-size: 35px;
    }
}

/* ================= Banner Background ==================== */
.bg-cover,
[class*='banner-'] {
    background-size: cover !important;
}

@media (min-width: 992px) {
    .bg-fixed {
        background-attachment: fixed;
    }
}

.banner-1 {
    background-image: url("assets/img/banner-1.jpg");
    background-color: #03a9f4; /*fallback color*/
}
